<div class="modal-header">
    <h3 class="modal-title">Change password</h3>
</div>
<div class="modal-body">
    <div class="alert alert-danger" role="alert" ng-show="data.isError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{data.errorMessage}}
    </div>
    <div ng-switch on="data.view">
        <div class="col-md-2 col-md-offset-4 passcode" ng-switch-when="start">
            <input class="input-number password-modal" readonly="true" type="text"
                   ng-model="data.gcnumber" placeholder="{{data.placeholder}}"/>
            <ul class="numpad">
                <a ng-repeat="num in numpad" href ng-click="updatePasscode(num)">{{num}}</a>
                <a href ng-click="verify()"><span class="glyphicon glyphicon-ok"></span></a>
                <a href ng-click="updatePasscode('0')">0</a>
                <a href ng-click="remove()"><span class="glyphicon glyphicon-chevron-left"></span></a>
            </ul>
        </div>
        <div ng-switch-when="end">
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Gift card {{data.gcnumber}} has ${{data.balance}} left.
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="finish()">Finish</button>
</div>
