<section class="main-container" data-ng-controller="HomeController">
    <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href="/#!/" class="navbar-brand">POS</a>
            </div>
            <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
                <ul class="nav navbar-nav navbar-right" ng-show="inState('core.login')">
                    <li>
                        <button ui-sref="core.customer" type="button" class="btn btn-default btn-block ng-binding ng-scope ng-click-active">
                            <span class="glyphicon glyphicon-folder-open"></span>&nbsp;Customers</button>
                    </li>
                    <li>
                        <button ui-sref=".admin.login" type="button" class="btn btn-default btn-block ng-binding ng-scope ng-click-active">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;Admin</button>
                    </li>
                    <li>
                        <button ui-sref="core.scheduler" type="button" class="btn btn-default btn-block ng-binding ng-scope ng-click-active">
                            <span class="glyphicon glyphicon-calendar"></span>&nbsp;Scheduler</button>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="inState('admin.authenticated') || inState('core.authenticated')">
                    <li><a>{{UserService.getUser().name}}</a></li>
                    <li class="col-md-off">
                        <button ng-click="userLogout()" type="button" class="btn btn-default btn-block ng-binding ng-scope ng-click-active">
                            <span class="glyphicon glyphicon-log-out"></span>&nbsp;Log out</button>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="inState('scheduler') || inState('admin.login') || inState('customer')">
                    <li>
                        <button type="button" ui-sref="core.login" class="btn btn-default btn-block ng-binding ng-scope ng-click-active">
                            <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back</button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="row property-content">
        <ui-view/>
            <!--<num-pad ng-switch-when='numpad'></num-pad>-->
            <!--<main-page ng-switch-when='mainpage'></main-page>-->
            <!--<scheduler-page ng-switch-when="scheduler"></scheduler-page>-->
    </div>
</section>
