<div class="modal-header">
    <h3 class="modal-title">Please select</h3>
</div>
<div class="modal-body">
    <div ng-switch on="data.view">
        <div class="order-selection"  ng-switch-when="selection">
            <button type="button" class="btn-squircle btn-w-icon btn btn-success" ng-click="getOrders()">
                <div><span class="glyphicon glyphicon-th-large"></span></div>
                <div>Existing Order</div>
            </button>
            <button type="button" class="btn-squircle btn-w-icon btn btn-success" ng-click="newOrders()">
                <div><span class="glyphicon glyphicon-pencil"></span></div>
                <div>New Order</div></button>
        </div>
        <div class="order-gridview" id="order-gridview" ng-switch-when="existingOrders" ng-init="initFTScroller('order-gridview');">
            <button ng-repeat="order in data.orders" type="button" class="btn-squircle-sm btn btn-default" ng-click="selectOrder(order.index, order.user.name)">Order number {{order.index}}</button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="back()" ng-show="data.view === 'existingOrders'">Back</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
