$primary-dark: #34495E;
$primary-regular: #1ABC9C;
$primary-light: #2ECC71;

$accent: #F58840;
$divider: #B6B6B6;

$text-on-dark: #fff;
$text-primary: #212121;
$text-secondary: #727272;


@font-face {
  font-family: Montserrat;
  src: url(../../../assets/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans';
  font-weight: normal;
  src: url(../../../assets/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 300;
  src: url(../../../assets/Open_Sans/OpenSans-Light.ttf);
}

body {
  -webkit-font-smoothing: antialiased;
  color: #63768A;
  font-family: OpenSans;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 2.4em;
  overflow-x: hidden;
}

/** For Angular hidden elements */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

section {
  height: 100%;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.padding-0 {
  padding: 0;
}

.margin-around {
  margin: 5px;
}

.align-right {
  text-align: right;
}

.font-sm {
  font-size: 0.75em;
}

.btn.font-sm {
  font-size: 0.75em;

}

.content {
  height: calc(100% - 70px);
  margin-top: 70px;
}

.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.container {
  height: 100%;
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;

  &-x {
    overflow-x: hidden;
  }
}

.property-content {
  height: 100%;
}

.property-content-container {
  height: 100%;
}

/** Bootstrap Style overrides */

a > span {
  text-align: center;
}

.form-control {
  width: auto;
  display: inline-block;
  height: auto;
  font-size: inherit;

  &-md {
    height: 48px;
  }

  &.full-width {
    width: 100%;
  }
}

.navbar-inverse {
  background-color: $primary-dark;
  background-image: none;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-header .navbar-brand {
  font-size: 1.2em;
  color: white;
  text-shadow: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  text-shadow: none;
}

.navbar-right {
  padding-right: 10px;
}

.panel-primary > .panel-heading {
  //text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  color: rgba(255, 255, 255, 0.95);
  border-radius: 0;
  background-image: none;
  background-color: $primary-regular;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  font-size: 1.25em;
  line-height: 0.7em;
  //letter-spacing: 3px;
  text-align: center;
  font-family: OpenSans;
  height: 80px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel {
  height: 100%;
  margin-bottom: 0;
  background-color: #fff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.panel-heading {
  //text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  color: rgba(255, 255, 255, 0.95);
  border-radius: 0;
  background-image: none;
  background-color: $primary-regular;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  font-size: 1.25em;
  text-align: center;
  font-family: OpenSans;
  height: 80px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .row {
    width: 100%;
  }

  select {
    width: 100%;
  }

}

.popout {
  background-color: white;
  top: 0;
  bottom: 0;
  z-index: 2;
  padding: 0;
  position: absolute;
  -webkit-transition: transform 0.5s ease-out;


  .panel {
    height: 98.5%;
  }
}

.popout.popout-visible + .scrim {
    opacity: 0.1;
    z-index: 1;
    background-color: black;
    -webkit-transition: all 0.25s;
}

.scrim {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  background-color: black;
  -webkit-transition: all 0.25s;
}

.popout-right {
  right: 0;
  backface-visibility: none;
  box-shadow: -8px 0px 5px -5px rgba(0,0,0,0.25);

  &.popout-hidden {
    -webkit-transform: translateX(105%);
    transform: translateX(105%) translateZ(0);
  }
}

.space {

  &-bottom {
    margin-bottom: 20px;
  }

  &-top-bottom {
    margin: 20px 0;
  }

}


.navbar li {
  margin: 5px;

  li > select {
    height: 100%;
  }
}

.horizontal-list {
  //display: flex;
  //display: -webkit-flex;
  //align-items: center;
  white-space: nowrap;
  //position: absolute;
  //height: 100%;
  display: table;

  & .btn {
    font-size: 0.9em;
    white-space: normal;
    vertical-align: middle;
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 0 5px;
  }

  .btn-block + .btn-block {
    margin-top: 0px;
  }
}

.flex-panel {
  height: 100%;
  padding: 5px 2px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;

  .flex-column {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    margin: 2px;

    .btn {
      flex: 1;
    }
  }

  .panel-body.giftcard {
    display: flex;
    display: -webkit-flex;
    & > * {
      flex: 1;
      -webkit-flex: 1;
      margin: 3px;
    }

    & > .flex-column {
      & > * {
        flex: 1;
        -webkit-flex: 1;
        //margin: 2px;
      }
    }
  }

  .panel-body {
    overflow: hidden;
    flex: 1;
    -webkit-flex: 1;
    //padding: 5px;
    position: relative;
  }

  .scroll-panel-body {
    overflow: hidden;
    flex: 1;
    -webkit-flex: 1;
    position: relative;
    display: flex;
    align-items: center;

    & .horizontal-list {
      display: table;
      vertical-align: middle;
      white-space: nowrap;
      height: 140px;

      & .btn {
        font-size: 0.9em;
        vertical-align: middle;
        display: inline-block;
        width: 125px;
        height: 125px;
        margin: 0 5px;
      }

      .btn-block + .btn-block {
        margin-top: 0px;
      }

    }
  }

  // Panels

  .order-panel {
    -webkit-flex: 75;
    flex: 75;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    & > .panel-heading {
      -webkit-flex: none;
      flex: none;
    }

    .pos-pagination {
      margin: 2px;
      -webkit-flex: 0;
      flex: 0;
    }

    & * {
      -webkit-flex: 1;
      flex: 1;
      /* display: flex;
       display: -webkit-flex;
       flex-direction: column;*/
    }

  }

  .summary-panel {
    -webkit-flex: 25;
    flex: 25;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    background-color: $primary-dark;

    .payment-panel {
      padding: 10px;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;

      & > .btn {
        margin: 4px;
        flex: 1;
        height: 100%;
      }
    }

    .subtotal-panel {
      padding: 10px;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;

      table {
        border-color: rgba(255, 255, 255, 0.1);
        color: white;

        tr {
          border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
      }

      .table > tbody > tr > td {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
      }

      /* .slideThree */

      /* $activeColor: #c0392b; //red */
      $activeColor: #27ae60; //green
      $darkenColor: darken($activeColor, 20%);
      /* $background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/13460/dark_wall.png'); */
      $background: #3498db;

      .slideThree {
        display: inline-block;
        width: 80px;
        height: 30px;
        background: #333;
        margin: 5px auto;
        margin-top: 10px;
        margin-bottom: 0px;
        position: relative;
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
        &:after {
          content: 'OFF';
          color: #000;
          top: 2px;
          position: absolute;
          right: 10px;
          z-index: 0;
          font: 12px/26px Arial, sans-serif;
          font-weight: bold;
          text-shadow: 1px 1px 0px rgba(255,255,255,.15);
        }
        &:before {
          content: 'ON';
          color: $activeColor;
          top: 2px;
          position: absolute;
          left: 10px;
          z-index: 0;
          font: 12px/26px Arial, sans-serif;
          font-weight: bold;
        }
        label {
          display: block;
          width: 34px;
          height: 25px;
          cursor: pointer;
          position: absolute;
          top: 3px;
          left: 3px;
          z-index: 1;
          background: #fcfff4;
          background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
          border-radius: 50px;
          transition: all 0.4s ease;
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
        }
        input[type=checkbox] {
          visibility: hidden;
          &:checked + label {
            left: 43px;
          }
        }
      }
      /* end .slideThree */


    }

    & * {
      -webkit-flex: 1;
      flex: 1;
      /*display: flex;
      display: -webkit-flex;
      flex-direction: column;*/
    }
  }



}

.flex-panel-content {
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex: 1;
  -webkit-flex: 1;
  box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.35);

  .panel-heading {
    margin: -5px;
    margin-bottom: 5px;
  }
}

input[type="button"]
{
  &, &.btn {
    outline:none;
  }
}

.btn {
  min-width: 75px;
  vertical-align: top;
  white-space: normal;
  overflow: hidden;
  background-image: none;
  font-family: OpenSans;
  font-size: 1em;
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.25);
  -webkit-transition: all 100ms ease-in-out;
  -webkit-transform: scaleX(1) scaleY(1);
  
  &.inline-block {
    display: inline-block;
  }
}

.btn:hover {
  -webkit-transform: scaleX(0.95) scaleY(0.95);
  box-shadow: 0px 0px 1px -1px rgba(0,0,0,0.25);
}

.btn:focus {
  outline: none;
}


.btn-default {
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #f9f9f9;
}

.btn-success, .btn-info {
  background-image: none;
  //background-color: #336E7B;
  background-color: #2ECC71;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-info {
  color: white;
  //background-color: #3498DB;
}

.btn#buy-gc {
  flex-direction: column;
}

.btn-flat-outline {

  &.text-xl {
    font-size: 1.5em;
  }

  &:hover {
    background-color: white;
  }
  &:focus {
    color: white;
    outline: none;
  }
  &, &:active {
    border-radius: 25px;
    //border: 1px solid rgba(255,255,255,0.3);
    color: white;
    //background-color: rgba(255,255,255,0.15);
    background-color: $primary-light;
  }
}

.btn-squircle {
  border-radius: 25px;
  margin: 10px;
  height: 250px;
  width: 250px;

  &-sm {
    @extend .btn-squircle;
    //display: block;
    height: 150px;
    width: 150px;
  }
  
  &-expand {
    @extend .btn-squircle;
    width: 95%;
    height: 95%;
  }
}

.btn-w-icon {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;

  .glyphicon {
    font-size: 2em;
  }

  & > div:first-child {
    flex: 1;
    display: flex;
    align-items: flex-end;
  }

  & > div:last-child {
    flex: 1;
    display: flex;
    align-items: flex-start;
  }
}

.justify-center {
  text-align: center;
}

.height {
  &-50 {
    height: 50px;
  }

  &-100 {
    height: 100px;
  }

  &-150 {
    height: 150px;
  }

  &-200 {
    height: 200px;
  }

  &-250 {
    height: 250px;
  }
  
  &-300 {
    height: 300px;
  }
}

// Modals

.modal-email {

  .modal-body {
    padding: 0 0;
    max-height: 80vh;
    overflow-y: scroll;
  }
}

.modal-dialog {
  margin: 0px auto;
  height: 100%;

  .modal-header {

    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: $primary-dark;
  }

  .modal-content {
    max-height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    top: 50%;
  }

  .modal-body {
    max-height: 80vh;
    overflow-y: scroll;
  }


}

.modal-expand {

  .modal-dialog {
    width: 90%;

    .modal-content {
      height: 90%;

      .modal-body {
        // 100% of modal-content subtracting header and footer heights
        height: calc(100% - 79px - 65px);
      }
    }

  }
}

.order-selection {
  display: flex;
  display: -webkit-flex;

  button {
    flex: 1;
  }
}

.order-gridview {
  height: 600px;
  text-align: center;
}


/** UI Grid style overrides */
.ui-grid-top-panel {
  position: relative;
  overflow: hidden;
  font-weight: bold;
  background: #f3f3f3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.ui-grid {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  input {
    padding: 3px;
  }
}

.ui-grid-header-cell, .ui-grid-header-cell-primary-focus {
  height: 50px;
  padding: 10px;
  //color: #63768A;
}

.ui-grid-cell-contents {
  //color: #63768A;
  & > {
    //color: #63768A;
  }

}

.ui-grid-cell {
  //height: 60px !important;
  padding: 6px;

  & * {
    height: 99%;
    //width: 99%;
  }

  & a {
    &:hover {
      text-decoration: none !important;
      border: none;
    }
    color: white;
    margin: 0 auto;
    width: 120px;
    border-radius: 4px;
    height: 100%;
    background-color: #F2784B;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;

    span, span.glyphicon {
      color: white;
      &:hover {
        text-decoration: none;
        border: none;
      }
      height: auto;
      width: auto;
      border: none;
    }
  }

  .plus-minus {
    display: flex;
    display: -webkit-flex;
    align-items: center;

    & > * {
      margin: 2px;
    }

    & > input, input.ng-valid {
      text-align: center;
      border: 1px solid #d4d4d4;
      border: none;
      background-color: transparent;
      padding: 4px;
      flex: 5;
      -webkit-flex: 5;
    }
  }

}

.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #f4f9ff;
}

.ui-grid-footer-viewport, .ui-grid-footer-cell-row, .ui-grid-footer-canvas {
  height: 100%;
}

.ui-grid-footer-cell-wrapper {
  height: 100%;
}

.ui-grid-footer-panel {
  background-image: none;
  background-color: #F3F3F3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ui-grid-footer-cell {
  height: 100%;
  padding: 5px 10px;
  text-align: center;

  & > a {
    border-radius: 4px;
    width: 200px;
    background-color: #5CB85C;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: #4BA74B;
      text-decoration: none;
    }

    span {
      color: white;
    }
  }

  & > * {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 95%;
    margin: 0px auto;
  }

  .ui-grid-clearfix:before, .ui-grid-clearfix:after {
    content: "";
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }

  .ui-grid-clearfix:before, .ui-grid-clearfix:after {
    content: "";
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }

  .ui-grid-footer-cell:last-child {
    height: 100%;
    border-right: 0;
  }

}

.discount {
  border: none;
}


/** Scheduler */

.calendar-view {
  margin: 15px 0;
}


.list-group-item {
  background-color: #eee;
  margin: 10px;
}

.list-group-item:hover {
  background-color: #efe;
}
