<div class="panel panel-primary" ng-init="find();">
    <div class="panel-heading">
        Email Marketing
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="flex-panel-content" id="email-list" ng-init="initFTScroller('email-list', true)">
                <div class="list-group">
                    <div class="alert alert-success" ng-if="notification && notification !== ''" role="alert" >{{notification}}</div>
                    <a data-ng-repeat="email in emails" class="list-group-item">
                        <div class="row">
                            <div class="col-md-7">
                                <h2 class="list-group-item-heading" data-ng-bind="email.config.subject"></h2>
                                <small class="list-group-item-text">
                                    Created on
                                    <span data-ng-bind="email.created | date:'shortDate'"></span>
                                </small>
                            </div>
                            <div class="col-md-5" style="text-align: right">
                                <div class="btn btn-md btn-info" ng-click="sendEmail(email._id)"><span class="glyphicon glyphicon-send"></span>&nbsp;Send</div>
                                <div class="btn btn-md btn-info" ng-click="editEmailModal(email._id)"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</div>
                                <div class="btn btn-md btn-info" ng-click="removeById(email._id)"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</div>
                            </div>
                        </div>

                    </a>
                </div>
            </div>
            <div ng-click="createNew();" class="btn btn-md btn-info height-100">
                Create a new Email
            </div>
        </div>
    </div>
</div>
