<div>
    <div class="alert alert-danger" role="alert" ng-show="admin.category.isError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{admin.category.errorMessage}}
    </div>
    <div id="category-grid" ui-grid="admin.category.gridOptions" ui-grid-pagination ui-grid-edit class="grid" ng-init="initCategory(); initFTScrollerGrid('category-grid');"></div>

    <pos-pagination page="{{ admin.category.gridApi.pagination.getPage() }}"
                    of="{{ admin.category.gridApi.pagination.getTotalPages() }}"
                    prev="admin.category.gridApi.pagination.previousPage()"
                    next="admin.category.gridApi.pagination.nextPage()"
            ></pos-pagination>

</div>
