<div>
    <div ng-show="admin.setting.isError">
        <div class="alert alert-danger" role="alert" ng-show="admin.setting.errorMessage !== 'Password has been updated successfully'">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{admin.setting.errorMessage}}
        </div>
        <div class="alert alert-success" ng-hide="admin.setting.errorMessage !== 'Password has been updated successfully'">
            {{admin.setting.errorMessage}}
        </div>
    </div>
    <div class="form-group">
        <label>Account name: {{admin.setting.name}}</label>
    </div>
    <div class="form-group">
        <label>Current password:</label>
        <input disabled="true" type="password" class="form-control" placeholder="Password" ng-model="admin.setting.passcode">
    </div>
    <div class="form-group">
        <label>New password:</label>
        <input type="password" ng-change="admin.setting.onchange()" class="form-control" placeholder="Password" ng-model="admin.setting.newpasscode">
    </div>
    <div class="form-group">
        <label>New password:</label>
        <input type="password" ng-change="admin.setting.onchange()" class="form-control" placeholder="Password" ng-model="admin.setting.newpasscode_repeat">
    </div>
    <button type="submit" class="btn btn-default" ng-click="changepassword()">Submit</button>
</div>
