<div>
    <div class="panel-heading">
        <h3>{{title}}</h3>
    </div>

    <div class="panel-body" ng-show="bodyVisible">
        <div class="row">
            <label class="col-md-6">Customer name</label>
            <div class="col-md-6 align-right">
                <button class='btn btn-sm btn-success inline-block margin-around font-sm' ng-click="selectCustomer()">Select Customer</button>
            </div>
        </div>
        <div class="row space-bottom">
            <div class="col-md-12">
                <input class="form-control full-width" type="text"
                       ng-model="schedulerGroup.customer.name"
                       placeholder="Customer name"
                       ng-change="removeEmailAndPhone()">
            </div>
        </div>
        <div class="row">
            <label class="col-md-12">Customer email</label>
        </div>
        <div class="row space-bottom">
            <div class="col-md-12">
                <input class="form-control full-width" type="text"
                       ng-model="schedulerGroup.customer.email"
                       disabled=true>
            </div>
        </div>
        <div class="row">
            <label class="col-md-12">Customer phone</label>
        </div>
        <div class="row space-bottom">
            <div class="col-md-12">
                <input class="form-control full-width" type="text"
                       ng-model="schedulerGroup.customer.phone"
                       disabled=true>
            </div>
        </div>
        <div class="row">
            <label class="col-md-12">Employee</label>
        </div>
        <div class="row space-bottom">
            <div class="col-md-12">
                <select class="form-control full-width form-control-md"
                        ng-options="employee.name for employee in scheduler.employees track by employee.id"
                        ng-model="schedulerGroup.assignedEmployee"></select>
            </div>
        </div>

        <div class="row space-bottom">
            <div class="col-md-12">
                <label>Date</label> </br>
                <input class="height-50" type="date" uib-datepicker-popup
                       ng-model="schedulerGroup.date"
                       is-open="schedulerGroup.open" ng-required="true" close-text="Close"/>
                <button type="button" class="height-50 btn btn-default"
                        ng-click="openCalendar()"><i
                        class="glyphicon glyphicon-calendar"></i></button>
            </div>
        </div>
        <div class="row space-bottom">
            <div class="col-md-12">
                <label>Start time</label>
                <select class="form-control form-control-md"
                        ng-model="schedulerGroup.startTime"
                        ng-change="updateStartHour()">
                    <option ng-repeat="hour in scheduler.hourList" ng-disabled="hour.disable.start" value="{{hour.value}}">{{hour.value}}</option>
                </select>
                <select class="form-control form-control-md"
                        ng-options="time for time in scheduler.timeList track by time"
                        ng-model="schedulerGroup.startTimeList" ng-change="updateTimeList()"></select>
            </div>
        </div>

        <div class="row space-bottom">
            <div class="col-md-12"><label>End Time</label>
                <select class="form-control form-control-md"
                        ng-model="schedulerGroup.endTime"
                        ng-change="updateEndHour()">
                    <option ng-repeat="hour in scheduler.hourList" ng-disabled="hour.disable.end" value="{{hour.value}}">{{hour.value}}</option>
                </select>
                <select class="form-control form-control-md"
                        ng-options="time for time in scheduler.timeList track by time"
                        ng-model="schedulerGroup.endTimeList" ng-change="updateTimeList()"></select></div>

        </div>

        <div class="row space-bottom">
            <div class="col-md-12">
                <label>Note</label>
                        <textarea class="form-control full-width" rows="2" placeholder="Note"
                                  ng-model="schedulerGroup.note"></textarea>
            </div>
        </div>

        <div class="modal-footer" ng-transclude>

        </div>
    </div>
</div>
