<div class="row property-content" ng-if="showContent">
    <div class="col-md-2 col-nav" id="admin-sidebar">
        <ul class="nav">
            <!--<li class="nav-header">Sidebar</li>-->
            <li>
                <a href="" ng-click="showDashboard()">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></div>
                        <div class="col-md-9">Settings</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" ng-click="showEmployee()">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-9">Employee</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" ng-click="showCategory()">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></div>
                        <div class="col-md-9">Categories</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" ng-click="showItem()">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-9">Items</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" ng-click="showGiftcard()">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span></div>
                        <div class="col-md-9">Giftcard</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" ng-click="showReport()">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></div>
                        <div class="col-md-9">Reports</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-10" id="admin-content">
        <div ng-switch on="admin.page">
            <div class="panel panel-primary" ng-switch-when="setting">
                <div class="panel-heading">
                    Account Settings
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <admin-setting></admin-setting>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary" ng-switch-when="employee">
                <div class="panel-heading">
                    Employee List
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <admin-employee></admin-employee>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary" ng-switch-when="category">
                <div class="panel-heading">
                    Category List
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <admin-category></admin-category>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary" ng-switch-when="item">
                <div class="panel-heading">
                    Item List
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <admin-item></admin-item>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary" ng-switch-when="giftcard">
                <div class="panel-heading">
                    Gift card List
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <admin-giftcard></admin-giftcard>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary" ng-switch-when="report">
                <div class="panel-heading">
                    Generate Report
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <admin-report></admin-report>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
