<div class="row property-content" ng-if="showContent">
    <div class="col-md-2 col-nav" id="admin-sidebar">
        <ul class="nav">
            <!--<li class="nav-header">Sidebar</li>-->
            <li>
                <a href="" ui-sref=".settings">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></div>
                        <div class="col-md-9">Settings</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" ui-sref=".employee">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-9">Employee</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" ui-sref=".categories">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></div>
                        <div class="col-md-9">Categories</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" ui-sref=".items">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-9">Items</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" ui-sref=".giftcard">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span></div>
                        <div class="col-md-9">Giftcard</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" ng-click="showReport()" ui-sref=".reports">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></div>
                        <div class="col-md-9">Reports</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" ui-sref=".marketing">
                    <div class="row">
                        <div class="col-md-3"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
                        <div class="col-md-9">Marketing</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-10" id="admin-content">
        <div ui-view="admin-content"></div>
    </div>
</div>
