<div class="modal-header">
    <h3 class="modal-title">Select Customer</h3>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <div id="employee-grid" ui-grid="gridOptions" ui-grid-pagination class="grid" ng-init="initFTScrollerGrid('employee-grid');" ></div>
        <pos-pagination page="{{ gridApi.pagination.getPage() }}"
                        of="{{ gridApi.pagination.getTotalPages() }}"
                        prev="gridApi.pagination.previousPage()"
                        next="gridApi.pagination.nextPage()"
        ></pos-pagination>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
