<td class="amount">
    <div class="input-group">
        <span class="input-group-btn">
            <button type="button" class="btn btn-danger btn-number"  data-type="minus" ng-click="grid.appScope.updateOrder('decrease',row.entity.index)">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </span>
        <input disabled='true' type="text" name="quant[2]" class="form-control itemAmount" ng-model="row.entity.quantity" min="1" max="100">
        <span class="input-group-btn">
            <button type="button" class="btn btn-success btn-number" data-type="plus" ng-click="grid.appScope.updateOrder('increase', row.entity.index)">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
    </div>
</td>
