<div class="col-md-12 property-content-container mainpage" ng-init="initMainpage()">
    <div class="flex-panel col-md-8">
        <div class="order-panel flex-panel-content">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9">
                        Order number {{data.index}} - Customer {{data.customerName}}
                    </div>
                    <div class="col-md-3">
                        <select ng-if="data.employees.length > 0" class="form-control" ng-options="employee for employee in data.employees track by employee"
                                ng-model="data.selectedEmployee"
                                ng-change="data.updateEmployee()"></select>
                    </div>
                </div>


            </div>
            <div id="order-grid" ui-grid="data.gridOptions" ui-grid-pagination class="grid" ng-init="data.initOrder(); initFTScrollerGrid('order-grid')"></div>
            <pos-pagination page="{{ data.gridApi.pagination.getPage() }}"
                            of="{{ data.gridApi.pagination.getTotalPages() }}"
                            prev="data.gridApi.pagination.previousPage()"
                            next="data.gridApi.pagination.nextPage()"></pos-pagination>
        </div>
        <div class="summary-panel flex-panel-content">
            <div class="payment-panel">
                <div class="flex-column">
                    <button type="button" class="btn-squircle-expand btn-w-icon btn btn-success" ng-click="data.printReceipt()">
                        <div><span class="glyphicon glyphicon-print"></span></div>
                        <div>Print Receipt</div>
                    </button>
                </div>
                <div class="flex-column">
                    <button type="button" class="btn-squircle-expand btn-w-icon btn btn-success" ng-click="data.saveOrder()">
                        <div><span class="glyphicon glyphicon-save-file"></span></div>
                        <div>Save Order</div>
                    </button>
                    <!--<button type="button" ng-click="data.saveOrder()" class="btn btn-flat-outline text-xl btn-block">Save Order</button>-->
                </div>
                <div class="flex-column">
                    <button type="button" class="btn-squircle-expand btn-w-icon btn btn-success" ng-click="data.doneOrder()">
                        <div><span class="glyphicon glyphicon-check"></span></div>
                        <div>Done</div>
                    </button>
                    <!--<button type="button" ng-click="data.doneOrder()" class="btn btn-flat-outline text-xl btn-block">Done</button>-->
                </div>
            </div>
            <div class="subtotal-panel">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Subtotal</td>
                        <td>${{(data.subtotal).toFixed(2)}}</td>
                    </tr>
                    <tr>
                        <td>
                            Taxes
                            <div class="slideThree">
                                <input type="checkbox" value="None" id="slideThree" name="check" checked
                                       ng-model="data.isTax" ng-change="data.getTax()"
                                />
                                <label for="slideThree"></label>
                            </div>
                        </td>
                        <td>${{(data.tax).toFixed(2)}}</td>
                    </tr>
                    <tr>
                        <td>Total cost</td>
                        <td>${{(data.subtotal + data.tax).toFixed(2)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="flex-panel col-md-4">
        <div class="category-panel flex-panel-content">
            <div class="panel-heading">
                Categories
            </div>
            <div class="scroll-panel-body" id="list-categories" ng-init="initFTScroller('list-categories');">
                <div class="horizontal-list">
                    <button ng-repeat="cat in data.category" ng-click="getItem(cat)"
                            type="button" class="btn btn-default btn-block">{{cat}}
                    </button>
                </div>
            </div>
        </div>
        <div class="items-panel flex-panel-content">
            <div class="panel-heading">
                Items
            </div>
            <div class="scroll-panel-body" id="list-items" ng-init="initFTScroller('list-items');">
                <div class="horizontal-list">
                    <button ng-repeat="item in data.items" ng-click="addItemToOrder(item)"
                            type="button" class="btn btn-default btn-block">{{item.name}}
                    </button>
                </div>
            </div>
        </div>
        <div class="giftcard-panel flex-panel-content">
            <div class="panel-heading">
                Add gift card
            </div>
            <div class="panel-body giftcard">
                <button id="buy-gc" ng-click="data.buyGiftcard()"
                        type="button" class="btn btn-default btn-block">
                    <div><span class="glyphicon glyphicon-gift"></span></div>
                    <div>Buy/Reload gift card</div>
                </button>
                <div class="flex-column">
                    <button ng-click="data.useGiftcard()"
                            type="button" class="btn btn-default btn-block">Use gift card
                    </button>
                    <button ng-click="data.checkBalance()"
                            type="button" class="btn btn-default btn-block">Check balance
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

