<div class="col-md-4 col-md-offset-4">
    <div class="passcode" ng-init="logOut();">
        <input class="input-number" readonly="true" type="password"
               ng-model="data.password" placeholder="Passcode"/>
        <ul class="numpad">
            <a ng-repeat="num in numpad" href ng-click="updatePasscode(num)">{{num}}</a>
            <a href ng-click="verify()"><span class="glyphicon glyphicon-ok"></span></a>
            <a href ng-click="updatePasscode('0')">0</a>
            <a href ng-click="remove()"><span class="glyphicon glyphicon-chevron-left"></span></a>
        </ul>
    </div>
</div>
