<div class="pos-pagination">
    <div class="pos-pagination-controller">
        <button type="button" class="btn btn-success" ng-click="prev()">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
        <button type="button" class="btn btn-success" ng-click="next()">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
    <div class="pos-pagination-display">
        Current page: {{ page }} of {{ of }}
    </div>
</div>
