<div class="modal-header">
    <div class="row">
        <div class="col-md-5"><h3 class="modal-title" style="display: inline-block;">Name / Subject: </h3><input class="form-control" ng-model="email.subject"></div>
        <div class="col-md-5"><input placeholder="Search Customer" class="form-control" ng-model="searchOrder.$"
                                     ng-show="data.view === 'existingOrders'"></div>
    </div>
</div>
<div class="modal-body">
    <div class="alert alert-danger" role="alert" ng-show="data.isError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{data.errorMessage}}
    </div>
    <div>

        <div class="order-gridview" id="email-editor"
             ng-init="initFTScroller('email-editor');">
            <html-template></html-template>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="back()"
            ng-show="data.view === 'existingOrders' || data.view === 'newOrders'">Back
    </button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default" ng-click="save()">Save</button>
</div>
