<div class="modal-header">
    <h3 class="modal-title">Add Customer</h3>
</div>
<div class="modal-body">
    <div class="alert alert-danger" role="alert" ng-show="data.isError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{data.errorMessage}}
    </div>
    <div class="col-md-12">
        <div class="passcode">
            <div class="space-bottom">
                <label class="col-md-12">
                    Name:
                </label>
                <input class="input-text" type="text" ng-model="data.name" ng-change="reset()"/>
            </div>

            <div class="space-bottom">
                <label class="col-md-12">
                    Phone Number:
                </label>
                <input class="input-text" type="text" ng-model="data.phone" ng-change="reset()"/>
            </div>

            <div class="space-bottom">
                <label class="col-md-12">
                    Email Address:
                </label>
                <input class="input-text" type="text" ng-model="data.email" ng-change="reset()"/>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="edit()">Apply</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
