<div>
    <div class="alert alert-danger" role="alert" ng-show="admin.category.isError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{admin.category.errorMessage}}
    </div>
    <div ui-grid="admin.category.gridOptions" ui-grid-pagination ui-grid-edit class="grid" ng-init="initCategory()"></div>
    <p>Current page: {{ admin.category.gridApi.pagination.getPage() }} of {{ admin.category.gridApi.pagination.getTotalPages() }}</p>
    <button type="button" class="btn btn-success" ng-click="admin.category.gridApi.pagination.previousPage()">
        previous page
    </button>
    <button type="button" class="btn btn-success" ng-click="admin.category.gridApi.pagination.nextPage()">
        next page
    </button>
</div>
