<div>
    <div class="alert alert-danger" role="alert" ng-show="admin.employee.isError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{admin.employee.errorMessage}}
    </div>
    <div id="employee-grid" ui-grid="admin.employee.gridOptions" ui-grid-pagination ui-grid-edit class="grid" ng-init="initEmployee(); initFTScrollerGrid('employee-grid');" ></div>
    <pos-pagination page="{{ admin.employee.gridApi.pagination.getPage() }}"
                of="{{ admin.employee.gridApi.pagination.getTotalPages() }}"
                prev="admin.employee.gridApi.pagination.previousPage()"
                next="admin.employee.gridApi.pagination.nextPage()"
                ></pos-pagination>
</div>
