<div>
    <p class="input-group">
        <input type="date" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
    </p>
    <!--<div class="col-md-6">
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
    </div>-->
    <!--<div ui-grid="admin.giftcard.gridOptions" ui-grid-pagination class="grid" ng-init="initGiftcard()"></div>
    <p>Current page: {{ admin.giftcard.gridApi.pagination.getPage() }} of {{ admin.giftcard.gridApi.pagination.getTotalPages() }}</p>
    <button type="button" class="btn btn-success" ng-click="admin.giftcard.gridApi.pagination.previousPage()">
        previous page
    </button>
    <button type="button" class="btn btn-success" ng-click="admin.giftcard.gridApi.pagination.nextPage()">
        next page
    </button>-->
</div>
